:root {
  --orange: rgba(230, 165, 44, 0.975);
  --dark: #454545;
  --shadow: #6f6f6f;
  --white: #fff;
}
body {
  background-color: var(--dark);
  color: var(--white);
  padding: 50px 0 0 0;
  z-index: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  text-align: center;
}
a:hover {
  text-decoration: none;
}
.row-header {
  margin: 0px auto;
  padding: 0px auto;
  color: #000;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row.row-content:last-of-type {
  border: none;
}

.footer {
  background-color: var(--orange);
  margin: 0px auto;
  padding: 20px 0;
}

.jumbotron {
  padding: 70px 30px;
  margin: 0 auto;
  background-color: var(--orange);
  border-radius: 0;
}
address {
  font-size: 80%;
  margin: 0px;
}

.navbar-dark {
  background-color: var(--dark);
  border-bottom: 2px solid var(--orange);
  border-bottom: 2px solid var(--orange);
  border-top: 5px solid var(--orange);
}
.breadcrumb {
  color: var(--dark);
  background-color: #bab8b8;
  border-radius: 0;
  box-shadow: 0px 0px 3px 0px var(--shadow);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-greenish {
  background-color: #32ad52;
  color: var(--white);
}

button {
  border: none;
  box-shadow: 0px 0px 3px 0px var(--shadow);
}
.table {
  background-color: var(--white);
}

.card-body {
  color: var(--dark);
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.nav-tabs .nav-link {
  color: var(--white);
}
.card-header {
  color: var(--dark);
}
